.fotosGaleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .card {
        width: 20rem;
        border-radius: $radius-sm;

        &-img-top {
            height: 250px;
            object-fit: cover;
        }
    }
}
