.indexBanner {
  position: relative;
  height: 100vh;

  img {
    height: 100vh;
    object-fit: cover;
    display: block;
    width: 100vw;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $overlay-dark;
  }
}

.bannerContenido {
  position: absolute;
  inset: 0;
  @include flex-center;
  flex-direction: column;
  text-align: center;
  color: $white;
  z-index: 2;
  padding: 1.5rem;

  h1 {
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 1px;
  }

  p {
    font-size: 1rem;
    margin: 1rem 0 1.5rem;
  }
}

.btnBanner {
  padding: 12px 26px;
  border: 2px solid $white;
  color: $white;
  text-decoration: none;
  font-weight: 600;
  border-radius: $radius-pill;
  transition: $transition-fast;

  &:hover {
    background: $white;
    color: $black;
  }
}