.indexAcercaDe {
  background: $gray-dark;
  padding: 3rem 0;
}

.imagenAcercaDe {
  position: relative;
  max-height: 420px;
  overflow: hidden;
  border-radius: $radius-sm;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.55;
    display: block;
  }
}

.tituloAcercaDe {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: $white;
  margin-bottom: 1.5rem;
}

.descripcionAcercaDe {
  font-size: 1.1rem;
  text-align: justify;
  color: lighten($gray-dark, 65%);
  line-height: 1.8;

  span {
    font-weight: 700;
  }
}
