$black: #000;
$white: #fff;
$gray-dark: #2a2a2a;
$gray-light: #f2f2f2;
$text-gray: #333;

$radius-sm: 10px;
$radius-lg: 15px;

$transition: 0.3s ease;

$tablet: 768px;
$desktop: 992px;
$overlay-dark: rgba(0, 0, 0, 0.66);
$radius-pill: 30px;
$transition-fast: 0.3s ease;
